.form {
  margin-top: 40px;
  margin-bottom: 20px;
}

.formik {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 12px;
  background-color: #bdbaba;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  align-items: center;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.button {
  width: 120px;
  padding: 6px;
  border: none;
  transition: background-color 0.3s;
}
.button:hover,
.button:focus {
  background-color: #dbdbdb !important;
  border: none;
  transition: background-color 0.3s;
}
.label {
  display: flex;
  flex-direction: column;
  & span {
    align-self: flex-start;
    font-weight: 500;
    font-style: italic;
  }
}
.input {
  height: 24px;
  width: 200px;
  border-radius: 4px;
}
.input:hover,
.input:focus {
  border: 1px solid gray;
  box-shadow: 0 0 5px black;
  outline-offset: 0px;
  outline: none;
}

.error {
  color: rgb(202, 48, 48);
}
