.btnlog {
  background-color: #2b2b2b !important;
  color: rgb(255, 255, 255);
  border: none;
}
.btnlog:hover,
.btnlog:focus {
  background-color: rgb(129, 129, 129) !important;
}
.text {
  font-weight: 700;
  color: rgb(129, 129, 129);
  font-size: 3rem;
  line-height: 1;
}
